[submodule "emBitz-GCC_STM32F429I-Discovery/nOS"]
	path = emBitz-GCC_STM32F429I-Discovery/nOS
	url = https://github.com/jimtremblay/nOS
[submodule "GCC_Linux/nOS"]
	path = GCC_Linux/nOS
	url = https://github.com/jimtremblay/nOS.git
[submodule "GCC_STM32F429I-Discovery/nOS"]
	path = GCC_STM32F429I-Discovery/nOS
	url = https://github.com/jimtremblay/nOS.git
[submodule "emBitz-GCC_STM32L152C-Discovery/nOS"]
	path = emBitz-GCC_STM32L152C-Discovery/nOS
	url = https://github.com/jimtremblay/nOS
[submodule "emBitz-GCC_STM32F746-Discovery/nOS"]
	path = emBitz-GCC_STM32F746-Discovery/nOS
	url = https://github.com/jimtremblay/nOS
